# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/spring/restful/gs-rest-service/complete/target/
/spring/restful/gs-rest-service/complete/gs-rest-service.iml
/spring/restful/gs-rest-service/.idea/encodings.xml
/spring/restful/gs-rest-service/.idea/uiDesigner.xml
/spring/restful/gs-rest-service/.idea/workspace.xml
/spring/restful/gs-rest-service/.idea/compiler.xml
/spring/restful/gs-rest-service/.idea/gs-rest-service.iml
/spring/restful/gs-rest-service/.idea/vcs.xml
/spring/restful/gs-rest-service/.idea/modules.xml
/spring/restful/gs-rest-service/.idea/misc.xml
/spring/restful/gs-rest-service/.idea/libraries/
/spring/restful/gs-rest-service/.idea/
/spring/.idea/
/.idea/
/spring/restful/gs-rest-service/complete/.idea/
/spring/restful/gs-rest-service/complete/.mvn/
spring/restful/gs-rest-service/complete/src/test/java/hello/
